.champion-detail {
  color: white;
  text-align: center;
}

#viz .svg-graph {
  margin: 20px;
  padding-left: 40px;
}

.bar rect {
  z-index: 10;
  fill: #10316b;
}
.bar.my_bar rect {
  z-index: 1;
}
.my_bar.lt rect {
  fill: #d65a31;
}
.my_bar.gte rect {
  fill: #0b8457;
}

.text {
  fill: white;
}

.section-header-container {
  text-align: left;
}

@media screen and (max-width: 500px) {
  #viz .svg-graph {
    width: 100%;
    margin: 20px auto;
    padding-left: 20px;
  }
}
