.champion-detail {
  color: white;
  text-align: center;
}

#viz .svg-graph {
  margin: 20px;
  padding-left: 40px;
}

.text {
  fill: white;
}
.text.chart-header {
  font-size: 1.2rem;
}
.my_text.text {
  fill: lightcyan;
}

.section-header-container {
  text-align: left;
}

@media screen and (max-width: 500px) {
  #viz .svg-graph {
    width: 100%;
    margin: 20px auto;
    padding-left: 20px;
  }
}
