.user-detail-top {
  text-align: center;
  width: 100%;
  margin: 80px auto;
}

.user-detail-card-container {
  position: relative;
  display: inline-block;
  width: 40%;
  margin: 0 auto;
}

.user-detail-card {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  height: 500px;
  text-align: center;
  width: 100%;
}

.user-detail-card .user-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 1;
}

.user-data {
  position: relative;
  padding: 12px;
  font-size: 1.5rem;
  z-index: 2;
}

.user-name {
  font-size: 3rem;
  font-weight: bold;
}

.user-rank-image {
  max-width: 200px;
  padding: 0;
  height: auto;
}

.update-button {
  border: none;
  outline: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  padding: 14px;
  color: white;
  background-color: gray;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}

.update-button:hover {
  opacity: 0.7;
}

.user-detail-most-container {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 520px;
  min-width: 400px;
  height: 560px;
}
.user-detail-most-header {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 20%;
  font-size: 2rem;
  font-weight: bold;
}
.user-detail-most {
  margin-top: 3.5rem;
}
.user-detail-most .svg-most {
  margin-bottom: 10px;
  overflow: hidden;
}
.user-detail-most .svg-most .most-title {
  font-size: 1.8rem;
}
.user-detail-most .svg-most .most-kd {
  font-size: 1.2rem;
}

.section-header-container {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
}
.header-bar {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #d65a31;
}
.header-parahgraph {
  display: inline-block;
  font-size: 2rem;
  padding: 20px;
  margin: 20px auto;
}

.user-champions-buttons {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 60px;
}

.champion-button {
  position: relative;
  display: inline-block;
  border: 1px solid #444444;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
}

.champion-button-link {
  text-decoration: none;
}

.champion-button:hover {
  transition: transform 0.3s;
  transform: scale(1.2);
}

.error,
.loading {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #222222;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 80px;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-top: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  .user-detail-top {
    margin-top: 0;
  }

  .user-detail-card-container {
    text-align: center;
    width: 100%;
    margin: 60px auto;
  }

  .user-detail-most-header {
    position: static;
    width: 80%;
    margin: 0 auto;
  }
  .user-detail-most-container {
    width: 100%;
    margin: 0 auto;
  }

  .user-detail-most-container .svg-most,
  .user-detail-most-container .svg-most-background {
    width: 100%;
  }

  .user-champions-buttons {
    text-align: center;
  }
  .champion-button {
    width: 80px;
    height: 80px;
    font-size: 0.8rem;
  }
  .champion-button-image {
    width: 100%;
  }
}
