.search {
  height: 90%;
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #222222;
  text-align: center;
}

.search .intro {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 10%;
}

.search-content {
  position: relative;
  width: 80%;
  height: auto;
  top: 20%;
  margin: 0 auto;
}

.search input[type="text"] {
  display: inline-block;
  padding: 15px;
  font-size: 1.5rem;
  border: none;
  width: 80%;
  background: white;
}

.search input[type="text"]:hover {
  background: #f1f1f1;
}

.search-content .button {
  display: inline-block;
  text-align: center;
  width: 20%;
  padding: 17px;
  background: #ddd;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.search-content .button:hover {
  background: #bbb;
}

@media screen and (max-width: 500px) {
  .search-content input[type="text"] {
    width: 100%;
    margin: 0 auto;
  }
  .search-content .button {
    float: none;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
  }
}
