.search {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.9);
}

.search .intro {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 5%;
}

.search-content {
    position: relative;
    width: 80%;
    top: 20%;
    margin: 0 auto;
}

.search input[type=text] {
    padding: 15px;
    font-size: 1.5rem;
    border: none;
    float: left;
    width: 74%;
    background: white;
}

.search input[type=text]:hover {
    background: #f1f1f1;
}

.search-content .button{
    float: left;
    text-align: center;
    width: 16%;
    padding: 17px;
    background: #ddd;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}

.search-content .button:hover {
    background: #bbb;
}

@media screen and (max-width: 500px){
    .search-content input[type=text] {
        width: 90%;
        margin: 0 auto;
    }
    .search-content .button {
        float: none;
        display: inline-block;
        width: 89%;
        margin: 0 auto;
    }
}