.statistics {
  color: white;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-color: #222222;
}

.statistics-top {
  text-align: left;
  width: 60%;
  margin: 0 auto;
  padding: 60px 0px;
  font-size: 3rem;
}

.statistics-top-dropdown {
  position: relative;
  width: 200px;
  padding: 10px;
  background-color: #222222;
  border: 2px solid #444444;
  color: white;
}

.statistics-bottom {
  overflow-x: auto;
  padding-bottom: 10%;
}

.statistics-bottom-table {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.statistics-bottom-table-body {
  position: relative;
  width: 100%;
}

.statistics-bottom-table-header {
  padding: 10px;
  height: 60px;
  border: 1px solid #444444;
}

.statistics-bottom-table-header th {
  vertical-align: middle;
}

.statistics-bottom-buttons-container {
  padding: 30px;
}

.statistics-button {
  border: none;
  border-radius: 4px;
  font-weight: bold;
  padding: 10px;
  margin: 10px 10px;
  background-color: #222222;
  color: white;
}

.statistics-button:hover {
  background-color: white;
  color: #222222;
  transition-duration: 0.5s;
}

#statistics-button-to-top {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: white;
  color: black;
  z-index: 99;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#statistics-button-to-top:hover {
  border: 1px solid white;
  background-color: #222222;
  color: white;
  transition-duration: 0.5s;
}

.error,
.loading {
  width: 100%;
  min-height: 100vh;
  color: white;
  background-color: #222222;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 80px;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-top: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .statistics-top {
    padding: 40px 0px;
    font-size: 2.5rem;
  }

  .statistics-top,
  .statistics-bottom-table {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .statistics-top {
    padding: 20px 0px;
    font-size: 2rem;
  }

  .statistics-top,
  .statistics-bottom-table {
    width: 92%;
  }

  .statistics-bottom-table {
    width: 100%;
  }

  .statistics-bottom-table-header .table-header-order {
    padding: 10px;
  }
}