.user-card {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  height: 60px;
  border: 1px solid #444444;
}
.even {
  background-color: #333333;
}

.user-card-order,
.user-card-image,
.user-card-name,
.user-card-level,
.user-card-rank,
.user-card-icon {
  margin: 0 10px;
  vertical-align: middle;
}

.user-card-image,
.user-card-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 500px) {
  .user-card-image,
  .user-card-icon {
    margin: 0;
    padding: 0;
  }
}
